@font-face {
    font-family: Minecraft;
    src: url(./fonts/Minecraft.ttf)
    ;
}


body {
    padding: 0;
    margin: 0;
    font-family: Minecraft;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: skyblue;
    /*padding: 1.5% 8%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: forestgreen;*/
}


.header-logo {
    display: flex;
    width: 36px;
    height: 51px;
    margin-right: auto;
    text-decoration: none;
    color: darkgreen;
    text-shadow: black;
    gap: 16px;
    padding: 16px
}

.header-logo:hover { 
    /*Code used to change color over links where a user hovers to let user know it is a link*/
    color: blue;
    text-decoration: none; 
    font-weight: none; 
}

.Disc {
    width: 48px;
    height: 51px;
  
    }

.header_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    text-shadow: black;
    font-weight: bolder;
    font-size: 64px;
}


/*Test part*/
.container {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    align-self: stretch;
    padding: 3px 10%;
    flex-grow: 2;
    align-items: center;
}


.main { 
    width: 80%;
    padding: 2%;
}


.main h1 {
    color: skyblue;
    text-shadow: black;
}


.main p {
    width: 37ch;
    color: skyblue;
    text-shadow: black;
}

.main button {
    background-color: #8b4513;
    color: skyblue;
    text-shadow: black;
}


.mine-img {
    width: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*Test end*/
.container-1 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #8b4513;
  }


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 8px;
    padding: 24px;
    color: forestgreen;
    text-shadow: black;
  }


  .card img{
    width: 200px;
    height: 200px;
    border: 12px solid skyblue;
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
}


.container-2 {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    background-color: slategray;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}


.quote {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    color: saddlebrown;
    text-shadow: black;
    font-size: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.quote-source {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    color: saddlebrown;
    text-shadow: black;
}

.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: darkgreen;
}

.official-box {
    display: flex;
    flex: none;
    width: 450px;
    height: 100px;
    padding: 20px 150px;
    background-color: skyblue;
    margin: 50px;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.official-text {
    display: flex;
    flex-direction: row;
}

.official-text p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    margin: 15px;
    color: darkgreen;
    text-shadow: black;
    font-size: 20px;
    text-decoration: none;
    
}

.official-site {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 15px;
}

.footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b4513;
    color: forestgreen;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}


ul a {
    text-decoration: none;
    color: darkgreen;
    text-shadow: black;
}


div {
    display: block;
}
